<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button></ion-nav-back-button>

		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>
	</ion-nav-bar>

	<ion-header-bar class="bar bar-positive">
		<div class="title"><center>{{ post.category }} </center></div>
	</ion-header-bar>
	<div class="bar bar-subheader"><center><h5> {{ post.title }} </h5></center> </div>

	<ion-content class="has-subheader">
		<div class="list card">

			<!-- <div class="item item-avatar">
				<img ng-src="{{ post.authorImage }}"/>
				<h2>{{ post.authorName }}</h2>
				<p>{{ post.date }}</p>
			</div> -->

			<div class="item item-body">
				<img class="full-image" src="{{ post.image }}"/>
				<p align="justify" ng-bind-html="post.content"></p>
					<!-- <a href="#" class="subdued"> {{ post.commentCount }} Comments</a> -->
					<!-- <a href="#" class="subdued"> {{ post.views }} Views</a> -->
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<!-- <a class="tab-item" href="#">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a> -->
			    <!-- <a class="tab-item" href="#">
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a> -->
			    <a class="tab-item" ng-click="Share();">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			</div>

		</div>
	</ion-content>

</ion-view>
